<section class="container px-4 md:px-6" data-test-about-us>
  <SectionTitle
    @title={{t "home.aboutUs.title"}}
    data-test-about-us="title"
  />

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8 xl:gap-12">
    <div>
      <p class="mb-4">{{t "home.aboutUs.description.paragraph1"}}</p>
      <p>{{t "home.aboutUs.description.paragraph2"}}</p>
    </div>

    <div>
      <div class="rounded border-gray-700 border p-4 flex flex-col">
        <div class="mb-8">
          <h2 class="text-sm text-gray-600 flex items-center">{{t "home.aboutUs.community.subtitle"}}</h2>
          <h1 class="text-gray-400 font-bold text-xl mb-2">{{t "home.aboutUs.community.title"}}</h1>
          <p>{{t "home.aboutUs.community.message"}}</p>
        </div>
        <a
          href="https://www.instagram.com/denistoledo.dev/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center"
          data-test-about-us="link-denis"
        >
          <img
            class="w-10 h-10 rounded-full mr-2"
            src="assets/images/denis-toledo.jpg"
            alt={{t "common.coFounderName"}}
            data-test-about-us="img-denis">

          <div class="text-sm">
            <p class="text-white">{{t "common.coFounderName"}}</p>
            <p class="text-gray-600">{{t "home.aboutUs.community.coFounder"}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>