<section class="container px-4 md:px-6" data-test-most-liked-tattoos>
  <SectionTitle
    @title={{t "mostLikedTattoos.title"}}
    @icon="trophy"
    class="text-yellow-500"
    data-test-most-liked-tattoos="title"
  />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 xl:gap-12 my-4">
    <CardMostLiked
      @href="https://www.instagram.com/p/Br6UnoiAEBm/?utm_source=ig_web_copy_link"
      @src="assets/images/best-of-2019-shared-tattoo.jpg"
      @title={{t "cardMostLiked.nineteen.title"}}
      @description={{t "cardMostLiked.nineteen.description"}}
      @date={{t "cardMostLiked.nineteen.date"}}/>

    <CardMostLiked
      @href="https://www.instagram.com/p/Br6UnoiAEBm/?utm_source=ig_web_copy_link"
      @src="assets/images/best-of-2018-shared-tattoo.jpg"
      @title={{t "cardMostLiked.eighteen.title"}}
      @description={{t "cardMostLiked.eighteen.description"}}
      @date={{t "cardMostLiked.eighteen.date"}}/>

    <CardMostLiked
      @href="https://www.instagram.com/p/BZJiL2yAnIz/?utm_source=ig_web_button_share_sheet"
      @src="assets/images/best-of-2017-shared-tattoo.jpg"
      @title={{t "cardMostLiked.seventeen.title"}}
      @description={{t "cardMostLiked.seventeen.description"}}
      @date={{t "cardMostLiked.seventeen.date"}}/>
  </div>
</section>