<header class="bg-gray-900 h-16 px-4 md:px-6 flex items-center fixed z-10 w-screen shadow-lg">
  <div class="flex items-center flex-1">
    <img src="assets/images/shared-tattoo-logo.svg" class="h-10" alt="Shared Tattoo">
    <h1 class="text-white text-sm md:text-base lg:text-xl font-thin uppercase ml-2">Shared Tattoo</h1>
  </div>
  <div>
    {{#each selections as |model|}}
      <button
        type="button"
        class="text-xs p-1 {{if model.active "text-white" "text-gray-600"}}"
        {{on "click" (fn this.changeLocale model.locale)}}
      >
        {{#if (eq model.locale "pt-br")}}
          {{t "language.ptBr"}}
        {{else}}
          {{t "language.enUs"}}
        {{/if}}
      </button>
    {{/each}}
  </div>
</header>

<main class="pt-16 grid gap-16 lg:gap-24 min-h-screen text-gray-400">
  {{outlet}}
</main>

<footer class="w-screen bg-gray-800 mt-16 lg:mt-24 py-4 md:py-6">
  <div class="container px-4 md:px-6 flex items-center justify-between">
    <div class="">
      <p class="text-xs">© 2017 Shared Tattoo</p>
    </div>
    <div>
      <a
        href="https://www.instagram.com/sharedtattoo/"
        target="blank"
        class=""
        data-test-jumbotron="instagram-link"
      >
        {{t "jumbotron.instagram"}}
      </a>
      <a
        href="https://www.facebook.com/sharedtattoo/"
        target="blank"
        class=""
        data-test-jumbotron="facebook-link"
      >
        {{t "jumbotron.facebook"}}
      </a>
    </div>
  </div>
</footer>